*,
:after,
:before
  box-sizing: border-box

html, body, #__nuxt, #__layout
  min-height: 100vh
  width: 100vw


html
  scroll-behavior: smooth

body
  margin: 0
  font-size: 1.6rem
  font-family: var(--primary-font)
  color: var(--primary-text-color)
  min-height: 100vh
  overflow-y: auto

button
  display: inline-block
  width: max-content
  font-size: 40px
  font-family: 'Tinos', sans-serif
  color: var(--primary-text-color)

a:-webkit-any-link
  color: var(--primary-text-color)
a.router-link-active
  color: var(--orange)

.container
  width: 1400px
  padding-right: 16px
  padding-left: 16px
  margin-right: auto
  margin-left: auto

  @include xxl
    width: 1250px

  @include xl
    width: 1050px

  @include ll
    width: 950px
  
  @include l
    width: 100%
    padding-left: 32px
    padding-right: 32px

  @include s
    padding-left: 16px
    padding-right: 16px

.section
  padding-top: 60px
  padding-bottom: 60px
  @include xl
    padding-top: 52px
    padding-bottom: 52px
  @include l
    padding-top: 36px
    padding-bottom: 36px
.blue
  background-color: var(--light-blue-color)

.nav__list
  display: flex
  align-items: center
  gap: 32px
  font-size: 28px
  font-weight: 700

  @include xl
    gap: 24px
    font-size: 24px
  @include l
    gap: 20px
    font-size: 20px

.cards__list
  width: 100%
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  gap: 52px
  @include xxl
    gap: 40px
  @include ll
    gap: 32px
  @include ms
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    gap: 24px

.logo
  display: inline-block
  // max-width: 230px
  height: 68px
  @include l
    width: 170px
    height: auto
  @include m
    width: 130px

.btn
  padding: 12px 24px
  border-radius: var(--primary-border-radius)
  border: 1px solid var(--primary-text-color)
  background-color: transparent
  font-size: 28px

  @include m
    padding: 8px 16px
    font-size: 24px

  &:hover
    background-color: var(--light-blue-color)
  &:disabled
    opacity: 0.3
    cursor: not-allowed

// Swiper

.swiper-button-prev, .swiper-button-next
  color: red !important
.swiper-pagination
  position: relative !important
  bottom: 0 !important
.swiper-pagination-bullet-active
  background: red !important

// Titles

h1, h2, h3, h4, h5, h6
  color: var(--primary-text-color)
  margin-bottom: 60px
  font-weight: 700
  font-family: 'Open Sans', sans-serif

h1
  font-size: 64px
  @include xxl
    font-size: 60px
  @include xl
    font-size: 56px
  @include ll
    font-size: 52px
  @include l
    font-size: 40px
  @include m
    font-size: 32px

h2
  font-size: 52px
  @include xl
    font-size: 44px
    margin-bottom: 40px
  @include l
    font-size: 36px
    margin-bottom: 28px
  @include m
    font-size: 28px

h3
  font-size: 40px