*,
:after,
:before
  box-sizing: border-box

html, body, #__nuxt, #__layout
  min-height: 100vh
  width: 100vw


html
  scroll-behavior: smooth

body
  margin: 0
  font-size: 22px
  font-family: var(--primary-font)
  color: var(--primary-text-color)
  min-height: 100vh
  overflow-y: auto
  @include xl
    font-size: 18px
  @include l
    font-size: 16px
  @include m
    font-size: 14px

button
  font-family: 'Tinos', sans-serif
  background-color: transparent

.btn
  font-family: 'Tinos', sans-serif
  display: inline-block
  width: max-content
  padding: 8px 28px
  border-radius: var(--primary-border-radius)
  background-color: var(--btn-bg)
  font-size: 20px
  color: var(--white)
  @include xl
    font-size: 16px

  @include m
    padding: 8px 16px
    font-size: 14px

  &.orange-type
    background-color: var(--orange)
    &:hover
      background-color: var(--hover-orange-color)

  &:hover
    background-color: var(--hover-blue-color)
  &:disabled
    opacity: 0.3
    cursor: not-allowed

a:-webkit-any-link
  color: var(--primary-text-color)
a.router-link-active
  color: var(--orange)
a.btn
  color: var(--white)

.container
  width: 1648px
  padding-right: 16px
  padding-left: 16px
  margin-right: auto
  margin-left: auto

  @include xl
    width: 1152px
  
  @include l
    width: 736px

  @include m
    width: 100%
    padding-right: 32px
    padding-left: 32px

  @include s
    padding-left: 16px
    padding-right: 16px

.section
  padding-top: 40px
  padding-bottom: 40px
  @include xl
    padding-top: 20px
    padding-bottom: 20px
  @include l
    padding-top: 16px
    padding-bottom: 16px
  @include m
    padding-top: 12px
    padding-bottom: 12px

.fixed
  overflow: hidden

.blue
  background-color: var(--light-blue-color)

.nav__list
  display: flex
  align-items: center
  gap: 20px
  font-size: 28px
  font-weight: 700

  @include xl
    gap: 8px
    font-size: 20px

.nav__item a
  padding: 12px 20px

.cards__list
  width: 100%
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 504px))
  justify-content: center
  gap: 52px
  @include xl
    grid-template-columns: repeat(auto-fill, minmax(250px, 352px))
    gap: 32px
  @include l
    grid-template-columns: repeat(auto-fill, minmax(150px, 340px))
    gap: 24px
  @include m
    gap: 12px

.logo
  display: inline-block
  width: 120px
  height: auto
  @include xl
    width: 80px
  @include l
    width: 56px

svg path
  fill: var(--blue-color)

// Swiper

.swiper-pagination-bullet
  width: 12px !important
  height: 12px !important
  background: #D0E4EB !important
  opacity: 1 !important
  width: 12px !important
  height: 12px !important
  @include xl
    width: 8px !important
    height: 8px !important
.swiper-pagination
  position: relative !important
  bottom: 0px !important
  margin-top: 8px !important
.swiper-pagination-bullet-active
  background: var(--gray-color) !important

.prev-btn,
.next-btn
  & path
    fill: var(--gray-color)
  &:hover
    cursor: pointer
  &.swiper-button-disabled
    opacity: 0.5
    cursor: not-allowed
  color: var(--gray-color)
  flex-shrink: 0
  @include m
    display: none 

// Titles

h1, h2, h3, h4, h5, h6
  color: var(--primary-text-color)
  margin-bottom: 24px
  font-weight: 700

h1
  font-size: 44px
  margin-bottom: 0
  font-family: 'Open Sans', sans-serif
  margin-top: 40px
  @include xl
    font-size: 36px
  @include l
    margin-top: 16px
    font-size: 28px
  @include m
    margin-top: 12px
    font-size: 20px

h2
  font-size: 36px
  @include xl
    font-size: 28px
    margin-bottom: 20px
  @include l
    font-size: 20px
    margin-bottom: 12px
  @include m
    font-size: 16px

.text-2
  font-size: 36px
  @include xl
    font-size: 28px
  @include l
    font-size: 20px
  @include m
    font-size: 16px


h3,
.text-3
  font-size: 28px
  margin-bottom: 0
  @include xl
    font-size: 24px
  @include l
    font-size: 18px
  @include m
    font-size: 15px