$xl: 1920px
$l: 1280px
$m: 768px
$s: 360px

@mixin s
  @media only screen and (max-width: #{$s})
    @content

@mixin m
  @media only screen and (max-width: #{$m})
    @content

@mixin l
  @media only screen and (max-width: #{$l})
    @content

@mixin xl
  @media only screen and (max-width: #{$xl})
    @content
