:root 
  --primary-font: 'Tinos', sans-serif
  --orange: #FFB925
  --primary-text-color: #0C1125
  --light-blue-color: rgba(66, 224, 235, 0.08)
  --blue-color: #42E0EB
  --gray-color: rgba(40, 98, 117, 0.64)
  --white: #fff

  --primary-border-radius: 20px
  --box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.16)