:root 
  --primary-font: 'Tinos', sans-serif
  --orange: #FFB925
  --primary-text-color: #0C1125
  --light-blue-color: rgba(66, 224, 235, 0.08)
  --blue-color: #42E0EB
  --gray-color: rgba(40, 98, 117, 0.64)