:root 
  --primary-font: 'Tinos', sans-serif
  --orange: #FFB925
  --primary-text-color: #0C1125
  --light-blue-color: rgba(66, 224, 235, 0.08)
  --blue-color: #42E0EB
  --gray-color: #769BA7
  --white: #fff
  --btn-bg: #00BECB

  --primary-border-radius: 2px
  --box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.16)